body {
  background-color: rgb(116, 137, 202);
  align-content: center;
  height: 2000px;
}
.header {
  position:fixed;
  top:10px;
}
.div-container {
  display: grid;
  grid-template-rows: 300px 300px 300px;
  margin-left: 300px;
  row-gap: 20px;
}
.canvi:hover {
  cursor: pointer;
  opacity: 0.8;
}
#title1,#selectedCountry {
  margin: 0px 0px 0px 0px;
  font-size: xx-large;
  display: inline-flex;
}
#score,.score {
  margin: 0px 0px 0px 0px;
  font-size: xx-large;
  display: inline-flex;
}
