body {
  background-color: rgb(116, 137, 202);
  align-content: center;
}
.canvi {
  display: inline-block;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  object-fit:fill;
}
.div-container {
  align-content: center;
  padding-left: 450px;
  margin: 0px;
  display:inline-flex;
}
.canvi:hover {
  border-radius: 40px;
  border: rgb(116, 137, 202) ;
}
#title1,#selectedCountry {
  margin: 0px 0px 0px 0px;
  font-size: x-large;
  display: inline-flex;
}
#score,.score {
  margin: 0px 0px 0px 0px;
  font-size: x-large;
  display: inline-flex;
}
