body {
  background-color: rgb(116, 137, 202);
  align-content: center;
}
.canvi {
  display: inline;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
}
.div-container {
  align-content: center;
  padding-left: 450px;
  margin: 20px;
}
.canvi:hover {
  border-radius: 40px;
  border: black; 
}
#title1,#selectedCountry,#score {
  margin: 0px 0px 0px 0px;
  font-size: x-large;
  display: inline;
}